{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-3">
			<img class="thumbnail" src="https://hanoicomputercdn.com/media/product/52358_cpu_intel_core_i9_10900k3_7ghz_turbo_up_to_5_3ghz_10_nhan_20_luong_20mb_cache_125w_socket_intel_lga_1200_01.jpg">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

			</div>
		</div>

		<div class="col-lg-3">
			<img class="thumbnail" src="https://hanoicomputercdn.com/media/product/52358_cpu_intel_core_i9_10900k3_7ghz_turbo_up_to_5_3ghz_10_nhan_20_luong_20mb_cache_125w_socket_intel_lga_1200_01.jpg">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-3">
			<img class="thumbnail" src="https://hanoicomputercdn.com/media/product/52358_cpu_intel_core_i9_10900k3_7ghz_turbo_up_to_5_3ghz_10_nhan_20_luong_20mb_cache_125w_socket_intel_lga_1200_01.jpg">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

			</div>
		</div>
				<div class="col-lg-3">
			<img class="thumbnail" src="https://hanoicomputercdn.com/media/product/52358_cpu_intel_core_i9_10900k3_7ghz_turbo_up_to_5_3ghz_10_nhan_20_luong_20mb_cache_125w_socket_intel_lga_1200_01.jpg">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

			</div>
		</div>
				<div class="col-lg-3">
			<img class="thumbnail" src="https://hanoicomputercdn.com/media/product/52358_cpu_intel_core_i9_10900k3_7ghz_turbo_up_to_5_3ghz_10_nhan_20_luong_20mb_cache_125w_socket_intel_lga_1200_01.jpg">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

			</div>
		</div>
				<div class="col-lg-3">
			<img class="thumbnail" src="https://hanoicomputercdn.com/media/product/52358_cpu_intel_core_i9_10900k3_7ghz_turbo_up_to_5_3ghz_10_nhan_20_luong_20mb_cache_125w_socket_intel_lga_1200_01.jpg">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

			</div>
		</div>
	</div>

{% endblock content %}