{% extends 'adminpage/admin.html' %}
{% load static %}
{% block content %}
	<h3>Orders management</h3>
	<div class="container">
		<div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Full name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Total</th>
                  <th>Status</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
              	{% for order in orders %}
                <tr>
                  <td>{{order.id}}</td>
                  <td>{{order.FullName}}</td>
                  <td>{{order.Mail}}</td>
                  <td>{{order.Phone}}</td>
                  <td>{{order.Address}}</td>
                  <td>{{order.Total}}</td>
                  <td>{{order.Status}}</td>
                  <td><a href="?id={{order.id}}&action=edit" class="btn btn-info">Edit</a><a href="?id={{order.id}}&action=delete" class="btn btn-warning">Delete</a></td>
                </tr>
              	{% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock content %}