{% extends 'adminpage/admin.html' %}
{% load static %}
{% block content %}
  <h3>Order management</h3>
  <div class="container">
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label>Full name</label>
        <input name="name" class="form-control" value="{{order.FullName}}" >
      </div>
      <div class="form-group">
        <label>Mail</label>
        <input name="mail" class="form-control" value="{{order.Mail}}" >
      </div>
      <div class="form-group">
        <label>Address</label>
        <input name="address" class="form-control" value="{{order.Address}}" >
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input name="phone" class="form-control" value="{{order.Phone}}" >
      </div>
      <div class="form-group">
        <label>Total</label>
        <input name="total" type="number" class="form-control" value="{{order.Total}}" >
      </div>
      <div class="form-group">
        <label>Status</label>
        <select class="form-control" name="cateid">
            <option value="Submitted" {% if order.Status == 'Submitted' %} selected {% endif %}>Submitted</option>
            <option value="Shipped" {% if order.Status == 'Shipped' %} selected {% endif %}>Shipped</option>
            <option value="Delivered" {% if order.Status == 'Delivered' %} selected {% endif %}>Delivered</option>
            <option value="Cancelled" {% if order.Status == 'Cancelled' %} selected {% endif %}>Cancelled</option>
        </select>
      </div>
      <input type="hidden" name="id" value="{{pro.id}}">
      <input type="hidden" name="action" value="{{action}}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
{% endblock content %}